/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border:  3px #CCCCCC;
	border-spacing: 1px;
}

tr {
		border-collapse: collapse;
	border: ridge 3px #666666;
	border-spacing: 1px;
}

td {
	border-collapse: collapse;
	border:ridge 3px #666666;
	border-spacing: 1px;
}

#container {
	background: url(trä.jpg);
	border:2px solid;
	max-width:1200px;
	margin:0 auto;
	border-radius:20px
	
	
	
	}

h1 { 
	
	font-family: "Times New Roman", Times, serif;
	font-size:80px;
	background-image: url("monster2.jpg");
	margin-left:10px;
	margin-top:10px;
	margin-right:10px;
	border-radius: 20px;
	color:#FFFFFF;
	text-align:center;
	
	
}

ul, ol, li, dl, dt {
	padding-left:15px;
}


nav {
	border: 1px solid black;
	width: 200px;
	bottom-border: none;
	list-style:none;
	float:left;
	margin-top:10px;
	margin-left:10px;
	
	
	}
nav ul, nav li {
padding-left:0;
}	
nav li{
	border-bottom:1px solid black;
	
}

li a{
	text-decoration:none;
	background-color:#666666;
	color:#FFFFFF;
	font-family: helvetica, sans-serif;
	font-weight: bold;
	display:block;
	padding:10px;
	
}

li a:hover{
	background-color:#CCCCCC;
	color: #000000;
	
}

nav .active a{
	background-color: #999999;
	
}

#labb {
	width:200px;
}
#labb li{
	border-bottom:1px solid black;
	padding:0;
	margin-left:15px;
}

#content {
	background-color: rgba(204,204,204,0.3);
	width:75%;
	float:left;
	color:#FFFFFF;
	margin-top:10px;
	margin-left:10px;
	border-radius:20px;
	margin-bottom:10px;
	
	
	

}

#content fieldset{
	border-bottom:2px solid white;
}

h2{
	text-align:center;
	font-size:30px;
	margin-bottom:40px;
}

#footer {
	clear:both;
	width:auto;
	background-color: #FFFFFF;
	border-radius:10px;
	margin-left:10px;
	margin-right:10px;
	margin-bottom:5px;
	

}

#jonte {
	float:right;
	height:350px;
	margin-right:5px;
	margin-top:5px;
	}

#bario {

	width:100%;
}

nav ul li a {
	background-image: url("sprite.png");
	background-repeat:no-repeat;
	text-indent:40px;
	

}

#home {
	background-position:0 -40px;
}

#home:hover {
	background-position:0 8px;
}

a#homeactive {
	background-position:0 8px;
}

#lab {
	background-position:0 -135px;
	
}

#lab:hover {
	background-position:0 -87px;
	
}

a#labactive {
	background-position:0 -87px;
}


#pres {
	background-position:0 -235px;

}

#pres:hover {
	background-position:0 -187px;

}

a#presactive {
	background-position:0 -187px;
}


#kontakt {
	background-position:0 -330px;

}


#kontakt:hover {
	background-position:0 -282px;

}

a#kontaktactive {
	background-position:0 -282px;
}

/* java labb2*/

#knapp {
	
}

.show {
	display:block;
}
.hide {
	display:none;
		
}

/* räknare*/
#rekna {
	
}	
	

#bario1 {
	width:400px;
	height:400px;
	float:right;
	height:350px;
	margin-top:70px;
	overflow:hidden;
	
}

}
@media print {
 

nav {
	display:none;}

#container {
	border:none;}






a:link:after{content:"["attr(href)"]";}

#labb {
	display:none;}


}	
	
	
	


	
	